@using BarnamenevisanCompany.Application.Extensions
@using BarnamenevisanCompany.Application.Statics
@using BarnamenevisanCompany.Domain.Enums.Common
@using BarnamenevisanCompany.Domain.Enums.User
@using BarnamenevisanCompany.Web.Helpers.TagHelpers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model BarnamenevisanCompany.Domain.ViewModels.Admin.UserPosition.AdminFilterUserPositionViewModel

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="mb-4">
                    <h2 class="card-title">فیلتــر</h2>
                </div>
                <div>
                    <form asp-area="Admin"
                          asp-controller="UserPosition"
                          asp-action="ListPartial"
                          asp-ajax="true"
                          asp-ajax-method="Get"
                          asp-ajax-modal-type="Large"
                          asp-ajax-modal-title="تیم برنامه نویسان"
                          asp-ajax-complete="UserPosition.UpdateTable()"
                          id="@Model.FormId"
                          class="floating-labels"
                          no-validation>
                        <input asp-for="Page" type="hidden"/>
                        <div class="row filter-form justify-content-center">
                            <div class="form-group col-12 col-md-6 mb-4">
                                <input asp-for="Position" class="form-control">
                                <span class="bar"></span>
                                <label asp-for="Position"></label>
                            </div>
                            <div class="form-group col-12 col-md-6 mb-4">
                                <select class="form-control form-select" asp-for="UserPositionStatus"
                                        asp-items="@Html.GetEnumSelectList<UserPositionStatus>()"></select>
                                <span class="bar"></span>
                                <label asp-for="UserPositionStatus"></label>
                            </div>
                            <div class="col-12 mt-3 d-md-flex">
                                <div class="col-12 col-md-2 p-0 me-1">
                                    <button class="btn btn-rounded btn-outline-primary w-100" type="submit">جستجو
                                    </button>
                                </div>
                                @if (Model.HasFilters())
                                {
                                    <div class="col-12 col-md-2 p-0 mt-3 mt-md-0">
                                        <a class="btn btn-rounded btn-danger w-100 text-nowrap"
                                           asp-area="Admin"
                                           asp-controller="UserPosition"
                                           asp-action="ListPartial"
                                           asp-ajax="true"
                                           asp-ajax-modal-type="Large"
                                           asp-ajax-modal-title="لیست کاربران">حذف فیلتر ها
                                        </a>
                                    </div>
                                }
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="mb-3 d-flex justify-content-between align-items-center">
                    <div>
                        <h2 class="card-title">@ViewData["Title"]</h2>
                    </div>
                </div>
                @if (Model.Entities is not null && Model.Entities.Any())
                {
                    <div class="table-responsive mb-4 border rounded-1">

                        <table id="user-position-body" class="table text-nowrap mb-0 align-middle">
                            <thead class="text-dark fs-4">
                            <tr>
                                <th>
                                    <h6 class="fs-4 fw-semibold mb-0">کاربر</h6>
                                </th>
                                <th>
                                    <h6 class="fs-4 fw-semibold mb-0">سمت</h6>
                                </th>
                                <th>
                                    <h6 class="fs-4 fw-semibold mb-0">عملیات</h6>
                                </th>

                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var position in Model.Entities)
                            {
                                <tr>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <img
                                                src="@(position.UserAvatarImageName.IsNullOrEmptyOrWhiteSpace() ? FilePaths.CommonImagesPath + SiteTools.DefaultUserImageName : FilePaths.UserOriginalAvatar + position.UserAvatarImageName)"
                                                class="rounded-circle me-2"
                                                width="40"
                                                height="40">
                                            <p class="mb-0 fw-semibold fs-4">@(position.UserFullName.IsNullOrEmptyOrWhiteSpace() ? position.Mobile : position.UserFullName)</p>
                                        </div>
                                    </td>
                                    <td>
                                        <input value="@position.Position" id="positionVal-@position.UserId"
                                               onchange="UserPosition.ChangeInputValue(@position.UserId)"
                                               class="form-control inputChange" style="min-width: 10rem;">
                                    </td>
                                    <td id="user-position-@position.UserId">
                                        <a class="text-success cursor-pointer add-btn"
                                           onclick="UserPosition.Add(event,@position.UserId,'positionVal-@position.UserId')">
                                            <iconify-icon icon="tabler:square-plus" width="24"
                                                          height="24"></iconify-icon>
                                        </a>
                                    </td>
                                </tr>
                            }
                            </tbody>


                        </table>
                    </div>
                    <partial name="_PagingPartial" model="@Model.GetCurrentPaging()"/>
                    <div class="mt-5">
                        <button class="btn btn-success" type="button"
                                onclick="UserPosition.SaveChangesAndHideModal()">ثبت
                        </button>
                        <button
                            class="btn btn-rounded btn-danger" type="button" data-bs-dismiss="modal">انصراف
                        </button>
                    </div>
                }
                else
                {
                    <partial name="_NotFoundPartial"/>
                }
            </div>
        </div>
    </div>
</div>