@using BarnamenevisanCompany.Application.Extensions
@using BarnamenevisanCompany.Application.Statics
@using BarnamenevisanCompany.Domain.Enums.Common
@using BarnamenevisanCompany.Domain.Enums.User
@using BarnamenevisanCompany.Infra.Data.Statics
@using BarnamenevisanCompany.Web.Helpers.TagHelpers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model BarnamenevisanCompany.Domain.ViewModels.Admin.UserPosition.AdminFilterUserPositionViewModel

@{
    ViewData["Title"] = "تیم برنامه نویسان";
}

@section Breadcrumb{
    <admin-breadcrumb page-title="@ViewData["Title"]">
        <admin-breadcrumb-item last-active-item="true">@ViewData["Title"]</admin-breadcrumb-item>
    </admin-breadcrumb>
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="mb-4">
                    <h2 class="card-title">فیلتــر</h2>
                </div>
                <div>
                    <form asp-area="Admin"
                          asp-controller="UserPosition"
                          asp-action="List"
                          id="filter-search"
                          method="get"
                          class="floating-labels"
                          no-validation>
                        <input asp-for="Page" type="hidden"/>
                        <input asp-for="IsAjax" value="@Model.IsAjax" type="hidden"/>
                        <div class="row filter-form justify-content-center">
                            <div class="form-group col-12 col-md-6 mb-4">
                                <input asp-for="Position" class="form-control">
                                <span class="bar"></span>
                                <label asp-for="Position"></label>
                            </div>
                            <div class="form-group col-12 col-md-6 mb-4">
                                <select class="form-control form-select" asp-for="UserPositionStatus"
                                        asp-items="@Html.GetEnumSelectList<UserPositionStatus>()"></select>
                                <span class="bar"></span>
                                <label asp-for="UserPositionStatus"></label>
                            </div>


                            <div class="col-12 mt-3 d-md-flex">
                                <div class="col-12 col-md-2 p-0 me-1">
                                    <button class="btn btn-rounded btn-outline-primary w-100" type="submit">جستجو
                                    </button>
                                </div>
                                @if (Model.HasFilters())
                                {
                                    <div class="col-12 col-md-2 p-0 mt-3 mt-md-0">
                                        <a class="btn btn-rounded btn-danger w-100 text-nowrap"
                                           asp-area="Admin"
                                           asp-controller="UserPosition"
                                           asp-action="List">حذف فیلتر ها
                                        </a>
                                    </div>
                                }
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="mb-3 d-flex justify-content-between align-items-center">
                    <div>
                        <h2 class="card-title">@ViewData["Title"]</h2>
                    </div>
                </div>
                @if (Model.Entities is not null && Model.Entities.Any())
                {
                    <div class="table-responsive mb-4 border rounded-1">

                        <table class="table text-nowrap mb-0 align-middle">
                            <thead class="text-dark fs-4">
                            <tr>
                                <th>
                                    <h6 class="fs-4 fw-semibold mb-0">نام و نام خانودگی</h6>
                                </th>
                                <th>
                                    <h6 class="fs-4 fw-semibold mb-0">اولویت نمایش</h6>
                                </th>
                                <th>
                                    <h6 class="fs-4 fw-semibold mb-0">سمت</h6>
                                </th>
                                <th>
                                    <h6 class="fs-4 fw-semibold mb-0">عملیات</h6>
                                </th>

                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var position in Model.Entities)
                            {
                                <tr>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <img
                                                src="@FilePaths.UserOriginalAvatar@(!position.UserAvatarImageName.IsNullOrEmptyOrWhiteSpace() ? position.UserAvatarImageName : SiteTools.DefaultImageName)"
                                                class="rounded-circle"
                                                width="40"
                                                height="40">
                                            <div class="ms-3">
                                                <h6 class="fs-4 fw-semibold mb-0">@(!position.UserFullName.IsNullOrEmptyOrWhiteSpace() ? position.UserFullName : "ندارد")</h6>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <p class="mb-0 fw-normal fs-4">@position.Priority</p>
                                    </td>
                                    <td>
                                        <p class="mb-0 fw-normal fs-4">@position.Position</p>
                                    </td>


                                    <td>
                                        <a  invoke-permission="@PermissionsName.UpdateUserPosition"
                                            asp-area="Admin"
                                           asp-controller="UserPosition"
                                           asp-action="Update"
                                           asp-ajax="true"
                                           asp-ajax-modal-title="ویرایش"
                                           asp-ajax-modal-type="Medium"
                                           asp-ajax-validation="true"
                                           asp-route-id="@position.Id"
                                           class="text-warning removeAfterDelete @(position.IsDeleted ? "d-none" : "")"
                                           title="ویرایش">
                                            <iconify-icon icon="uil:edit" width="22" height="22"></iconify-icon>
                                        </a>

                                        <a invoke-permission="@PermissionsName.DeleteOrRecoverUserPosition"
                                            class="text-danger removeAfterDelete @(position.IsDeleted ? "d-none" : "")"
                                           onclick="ConfirmDelete(this, '@Url.Action("DeleteOrRecover", "UserPosition", new { area = "Admin", id = position.Id })','filter-search')"
                                           title="حذف">
                                            <iconify-icon icon="solar:trash-bin-trash-outline" width="22"
                                                          height="22"></iconify-icon>
                                        </a>

                                    </td>
                                </tr>
                            }
                            </tbody>


                        </table>
                    </div>
                    <partial name="_PagingPartial" model="@Model.GetCurrentPaging()"/>
                }
                else
                {
                    <partial name="_NotFoundPartial"/>
                }
            </div>
        </div>
    </div>
</div>
