@using BarnamenevisanCompany.Application.Extensions
@using BarnamenevisanCompany.Domain.Enums.Common
@using BarnamenevisanCompany.Domain.Enums.Order
@using BarnamenevisanCompany.Domain.Shared
@using BarnamenevisanCompany.Infra.Data.Statics
@using BarnamenevisanCompany.Web.Helpers.TagHelpers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model BarnamenevisanCompany.Domain.ViewModels.Admin.Order.AdminFilterOrderViewModel


@{
    ViewData["Title"] = "لیست سفارشات";
}

@section Breadcrumb
{
    <admin-breadcrumb page-title="@ViewData["Title"]">
        <admin-breadcrumb-item last-active-item="true">@ViewData["Title"]</admin-breadcrumb-item>
    </admin-breadcrumb>
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="mb-4">
                    <h2 class="card-title">فیلتــر</h2>
                </div>
                <div>

                    <form asp-area="Admin"
                          asp-controller="Order"
                          asp-action="List"
                          method="get"
                          class="floating-labels"
                          id="filter-search"
                          no-validation>
                        <input asp-for="@Model.Page" type="hidden"/>
                        <div class="row filter-form justify-content-center">

                            <div class="col-12 col-md-4 mb-4">
                                <div class="form-group">
                                    <input asp-for="Title" class="form-control">
                                    <span class="bar"></span>
                                    <label asp-for="Title"></label>
                                </div>
                            </div>
                            
                            <div class="col-12 col-md-4 mt-3 mb-4 mt-md-0">
                                <div class="form-group">
                                    <input asp-for="UserId" data-select-input="User" type="hidden"/>
                                    <input class="form-control" data-select-display="User" asp-for="UserName" onfocus="$('#users-modal-btn').click()" readonly>
                                    <a class="select-icon"
                                       id="users-modal-btn"
                                       asp-area="Admin"
                                       asp-controller="User"
                                       asp-action="ListPartial"
                                       asp-ajax="true"
                                       asp-ajax-modal-type="Large"
                                       asp-ajax-modal-title="لیست کاربران">
                                        <iconify-icon icon="mingcute:user-add-line" width="17" height="17"></iconify-icon>
                                    </a>
                                    <span class="bar"></span>
                                    <label asp-for="UserId"></label>
                                    <span asp-validation-for="UserId"></span>
                                </div>
                            </div>


                            <div class="col-12 col-md-4 mb-4 mt-3 mt-md-0">
                                <div class="form-group">
                                    <input asp-for="Mobile" class="form-control">
                                    <span class="bar"></span>
                                    <label asp-for="Mobile"></label>
                                </div>
                            </div>

                            <div class="col-12 col-md-4 mb-4 mt-3">
                                <div class="form-group">
                                    <select class="form-control form-select" asp-for="FilterOrderBy"
                                            asp-items="@Html.GetEnumSelectList<FilterOrderBy>()"></select>
                                    <span class="bar"></span>
                                    <label asp-for="FilterOrderBy"></label>
                                </div>
                            </div>
                            
                            <div class="col-12 col-md-4 mb-4 mt-3">
                                <div class="form-group">
                                    <select class="form-control form-select" asp-for="OrderStatus" id="order-status"
                                            asp-items="@Html.GetEnumSelectList<FilterOrderStatus>()"></select>
                                    <span class="bar"></span>
                                    <label asp-for="OrderStatus"></label>
                                </div>
                            </div>
                            
                            <div class="col-12 col-md-4 mb-4 mt-3">
                                <div class="form-group">
                                    <select class="form-control form-select" asp-for="DeleteStatus"
                                            asp-items="@Html.GetEnumSelectList<DeleteStatus>()"></select>
                                    <span class="bar"></span>
                                    <label asp-for="DeleteStatus"></label>
                                </div>
                            </div>

                            <div class="col-12 mt-3 d-md-flex">
                                <div class="col-12 col-md-2 p-0 me-1">
                                    <button class="btn btn-rounded btn-outline-primary w-100" type="submit">جستجو
                                    </button>
                                </div>
                                @if (Model.HasFilters())
                                {
                                    <div class="col-12 col-md-2 p-0 mt-3 mt-md-0">
                                        <a class="btn btn-rounded btn-danger w-100 text-nowrap"
                                           asp-area="Admin"
                                           asp-controller="Order"
                                           asp-action="List">حذف فیلتر ها
                                        </a>
                                    </div>
                                }
                            </div>

                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div class="mb-3 d-flex justify-content-between align-items-center">
                    <div>
                        <h2 class="card-title">@ViewData["Title"]</h2>
                    </div>
                </div>

                @if (Model.Entities is not null && Model.Entities.Any())
                {
                    <div class="table-responsive mb-4 border rounded-1">

                        <table class="table text-nowrap mb-0 align-middle">

                            <thead>
                            <tr>
                                <th>
                                    <h6 class="fs-4 fw-semibold mb-0">نوع سفارش</h6>
                                </th>
                                <th>
                                    <h6 class="fs-4 fw-semibold mb-0">عنوان سفارش</h6>
                                </th>
                                <th>
                                    <h6 class="fs-4 fw-semibold mb-0">سفارش‌دهنده</h6>
                                </th>
                                <th>
                                    <h6 class="fs-4 fw-semibold mb-0">شماره همراه</h6>
                                </th>
                                <th>
                                    <h6 class="fs-4 fw-semibold mb-0">تاریخ ایجاد</h6>
                                </th>
                                <th>
                                    <h6 class="fs-4 fw-semibold mb-0">وضعیت سفارش</h6>
                                </th>
                                <th>
                                    <h6 class="fs-4 fw-semibold mb-0">عملیات</h6>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var item in Model.Entities)
                            {
                                <tr>
                                    <td>
                                        @foreach (var orderTypes in item.OrderTypes)
                                        {
                                            <p class="mb-0 fw-normal fs-4">@orderTypes.Title</p>
                                        }
                                    </td>
                                    <td>
                                        <p class="mb-0 fw-normal fs-4">@item.Title</p>
                                    </td>
                                    <td>
                                        <p class="mb-0 fw-normal fs-4">@item.CustomerName</p>
                                    </td>
                                    <td>
                                        <p class="mb-0 fw-normal fs-4">@item.CustomerMobile</p>
                                    </td>
                                    <td>
                                        <p class="mb-0 fw-normal fs-4">@item.OrderDate.ToShamsiDateTime()</p>
                                    </td>
                                    <td>
                                        @switch (item.OrderStatus)
                                        {
                                            case OrderStatus.InProgress:
                                                <span class="badge bg-warning-subtle text-warning">@item.OrderStatus.GetEnumName()</span>
                                                break;
                                            case OrderStatus.Done:
                                                <span class="badge bg-success-subtle text-success">@item.OrderStatus.GetEnumName()</span>
                                                break;
                                            case OrderStatus.Rejected:
                                                <span class="badge bg-danger-subtle text-danger">@item.OrderStatus.GetEnumName()</span>
                                                break;
                                        }
                                    </td>
                                    <td>
                                        <a invoke-permission="@PermissionsName.AnswerToOrder"
                                            asp-area="Admin"
                                           asp-controller="Order"
                                           asp-action="Details"
                                           asp-route-id="@item.Id"
                                           asp-route-page="@Model.Page"
                                           class="text-info removeAfterDelete @(item.IsDeleted ? "d-none" : "")"
                                           title="مشاهده و پاسخ ">
                                            <iconify-icon icon="fluent:eye-28-regular" width="22" height="22"></iconify-icon>
                                        </a>
                                        @if (item.IsDeleted)
                                        {
                                            <a invoke-permission="@PermissionsName.DeleteOrRecoverOrder" class="text-info" onclick="ConfirmRecover(this, '@Url.Action("DeleteOrRecover", "Order", new { area = "Admin", id = item.Id })')" title="بازگردانی">
                                                <iconify-icon icon="solar:undo-left-round-outline" width="22" height="22"></iconify-icon>
                                            </a>
                                        }
                                        else
                                        {
                                            <a invoke-permission="@PermissionsName.DeleteOrRecoverOrder" class="text-danger" onclick="ConfirmDelete(this, '@Url.Action("DeleteOrRecover", "Order", new { area = "Admin", id = item.Id })')" title="حذف">
                                                <iconify-icon icon="solar:trash-bin-trash-outline" width="22" height="22"></iconify-icon>
                                            </a>
                                        }
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                    <partial name="~/Areas/Admin/Views/Shared/_PagingPartial.cshtml" model="@Model.GetCurrentPaging()"/>
                }
                else
                {
                    <partial name="_NotFoundPartial"/>
                }
            </div>
        </div>
    </div>
</div>
