@using BarnamenevisanCompany.Application.Statics
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model List<BarnamenevisanCompany.Domain.ViewModels.Admin.HonorsGallery.AdminHonorsGalleryViewModel>
@{
    ViewData["Title"] = "گالری افتخار";
    var honorId = ViewBag.HonorId;
}

@section BreadCrumb
{
    <admin-breadcrumb page-title="@ViewData["Title"]">
        <admin-breadcrumb-item asp-area="Admin" asp-controller="Honor" asp-action="List">
            لیست افتخارات
        </admin-breadcrumb-item>
        <admin-breadcrumb-item last-active-item="true">@ViewData["Title"]</admin-breadcrumb-item>
    </admin-breadcrumb>
}

@section Scripts
{
    <script src="/Admin/assets/libs/dropzone/dist/min/dropzone.js"></script>
    <script src="/Admin/js/honers-gallery.js"></script>
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row" id="gallery-images">
                    @if (Model.Count <= 0)
                    {
                        <div class="col-12">
                            <div class="alert alert-warning d-flex align-items-center" id="no-images-alert" role="alert">
                                <span class="badge badge-center rounded-pill bg-warning border-label-warning p-3 me-2">
                                    <iconify-icon icon="material-symbols:warning-outline-rounded" width="28" height="28"></iconify-icon>
                                </span>
                                <div class="d-flex flex-column ps-1">
                                    <h6 class="alert-heading d-flex align-items-center fw-bold mb-1">هشدار !</h6>
                                    <span>تصویری برای نمایش در گالری این افتخار موجود نمی باشد</span>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        foreach (var item in Model ?? [])
                        {
                            <div
                                class="col-12 col-md-6 col-lg-3 mb-4 rounded-3 gallery-image-container">
                                <div class="position-relative w-100 h-100">
                                    <img class="w-100 h-100 rounded-3"
                                         src="@FilePaths.HonorsGalleryImage@item.ImageName"
                                         alt="project-image">
                                    <a type="button"
                                       asp-area="Admin"
                                       asp-controller="Honor"
                                       asp-action="DeleteImageFromGallery"
                                       asp-route-honorId="@honorId"
                                       asp-route-imageName="@item.ImageName"
                                       asp-ajax="true"
                                       asp-ajax-success="onAjaxSuccess(data, status, xhr);DeleteImage(element);"
                                       asp-ajax-confirmable="true"
                                       asp-ajax-confirmable-title="حذف تصویر"
                                       asp-ajax-confirmable-message="آیا از حذف تصویر مطمئن هستید ؟"
                                       class="dropzone-item-hover rounded-3">
                                        <iconify-icon class="text-danger" icon="mdi:remove-bold" width="75"
                                                      height="75"></iconify-icon>
                                    </a>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="mb-4 col-12">
                        <h2 class="fs-6">انتخاب عکس</h2>
                    </div>
                    <div class="col-12">
                        <form asp-action="AddToGallery"
                              method="post"
                              enctype="multipart/form-data"
                              class="dropzone"
                              id="honnorsGalleryDropzone">
                            <input type="hidden" name="honorId" value="@honorId"/>
                            <div class="dz-message">
                                <div class="mb-4">
                                    <img src="/Admin/assets/images/upload.svg" alt="میتوانید یک عکس انتخاب کنید"/>
                                </div>
                                <h3 class="fs-6">فایل های خود را در اینجا رها کنید تا آپلود شوند</h3>
                                <span class="note">
                            روی این بخش می توانید کلیک نیز نموده تا در پنجره باز شده فایل های خود را انتخاب نمایید
                        </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mt-3">
    <div class="col-12">
        <div class="d-flex justify-content-end">
            <a asp-area="Admin" asp-controller="Honor" asp-action="List"
               class="btn btn-primary text-nowrap wow bounceIn">بازگشت</a>
        </div>
    </div>
</div>

