@using BarnamenevisanCompany.Application.Extensions
@using BarnamenevisanCompany.Domain.Enums.Ticket
@model BarnamenevisanCompany.Domain.ViewModels.Client.Ticket.ClientFilterTicketsViewModel
@{
    ViewData["Title"] = "تیکت های من";
}

@section Breadcrumb
{
    <user-panel-breadcrumb page-title="@ViewData["Title"]">
        <user-panel-breadcrumb-item last-active-item="true">لیست تیکت های من</user-panel-breadcrumb-item>
    </user-panel-breadcrumb>
}


<form asp-area="UserPanel"
      asp-controller="Ticket"
      asp-action="List"
      method="get"
      id="filter-search">
    <input asp-for="Page" type="hidden">
</form>

<div class="col-span-full">
    <div class="bg-white dark:bg-dark-200 rounded-medium p-2.5 shadow-nav">
        <div class="border border-dashed rounded-medium border-gray-100 dark:border-borderColour-dark p-6 h-full">
            <!--START Content-->
            <div class="grid-cols-12">
                <div class="col-span-full flex flex-col md:flex-row justify-between items-center mb-7">
                    <h3>لیست تیکت های من</h3>
                    <a asp-area="UserPanel"
                       asp-controller="Ticket"
                       asp-action="Create"
                       class="btn-success px-5 py-2 tracking-tight mt-5 md:mt-0">
                        افزودن تیکت جدید
                    </a>
                </div>
                @if (Model.Entities is not null && Model.Entities.Any())
                {
                    <div class="col-span-full">
                        <div class="relative overflow-x-auto shadow-md dark:shadow-none rounded-md">
                            <table class="w-full text-right text-gray-500 dark:text-gray-400 text-nowrap">
                                <thead class="bg-zinc-500/70 dark:bg-zinc-700/70">
                                    <tr>
                                        <th scope="col" class="px-6 py-3 text-base font-medium dark:text-white">
                                            موضوع
                                        </th>
                                        <th scope="col" class="px-6 py-3 text-base font-medium dark:text-white">
                                            وضعیت
                                        </th>
                                        <th scope="col" class="px-6 py-3 text-base font-medium dark:text-white">
                                            اولویت
                                        </th>
                                        <th scope="col" class="px-6 py-3 text-base font-medium dark:text-white">
                                            تاریخ ایجاد
                                        </th>
                                        <th scope="col" class="px-6 py-3 text-base font-medium text-center dark:text-white">
                                            عملیات
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>

                                @foreach (var ticket in Model.Entities)
                                {
                                    <tr class="odd:bg-transparent even:bg-zinc-500/10 even:dark:bg-zinc-700/20 border-b dark:border-zinc-600 border-zinc-500/10">
                                        <th scope="row"
                                            class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                            @ticket.Title
                                        </th>
                                        <td class="px-6 py-4">
                                            @switch (ticket.TicketStatus)
                                            {
                                                case TicketStatus.Closed:
                                                    <userpanel-bage type="Danger">@ticket.TicketStatus.GetEnumName()</userpanel-bage>
                                                    break;
                                                case TicketStatus.InProgress:
                                                    <userpanel-bage type="Warning">@ticket.TicketStatus.GetEnumName()</userpanel-bage>
                                                    break;
                                                case TicketStatus.SupporterAnswered:
                                                    <userpanel-bage type="Success">@ticket.TicketStatus.GetEnumName()</userpanel-bage>
                                                    break;
                                                case TicketStatus.PendingForUserAnswer:
                                                    <userpanel-bage type="Info">@ticket.TicketStatus.GetEnumName()</userpanel-bage>
                                                    break;
                                            }
                                        </td>
                                        <td class="px-6 py-4">
                                            @ticket.Priority.Title
                                        </td>
                                        <td class="px-6 py-4">
                                            @ticket.CreatedDate.ToShamsi()
                                        </td>
                                        <td class="px-6 py-4">
                                            <div class="flex justify-center items-center">
                                                <a class="*:text-sky-400"
                                                   asp-area="UserPanel"
                                                   asp-controller="Ticket"
                                                   asp-action="Detail"
                                                   asp-route-id="@ticket.Id">
                                                    <iconify-icon icon="fluent:eye-28-regular" width="22" height="22"></iconify-icon>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                }

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-span-full">
                        <partial name="_PagingPartial" model="@Model.GetCurrentPaging()"/>
                    </div>
                }
                else
                {
                    <user-panel-alert mode="Info">تیکتی برای نمایش یافت نشد ...</user-panel-alert>
                }
            </div>
            <!--END Content-->
        </div>
    </div>
</div>