@using BarnamenevisanCompany.Application.Extensions
@using BarnamenevisanCompany.Application.Statics
@using BarnamenevisanCompany.Domain.Enums.Common
@using BarnamenevisanCompany.Infra.Data.Statics
@using BarnamenevisanCompany.Web.Helpers.TagHelpers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model BarnamenevisanCompany.Domain.ViewModels.Admin.PartnerCompany.AdminFilterPartnerCompanyViewModel

@{
    ViewData["Title"] = "لیست سایت‌ های همکار";
}

@section Breadcrumb
{
    <admin-breadcrumb page-title="@ViewData["Title"]">
        <admin-breadcrumb-item last-active-item="true">@ViewData["Title"]</admin-breadcrumb-item>
    </admin-breadcrumb>
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="mb-4">
                    <h2 class="card-title">فیلتــر</h2>
                </div>
                <div>

                    <form asp-area="Admin"
                          asp-controller="PartnerCompany"
                          asp-action="List"
                          method="get"
                          class="floating-labels"
                          id="filter-search"
                          no-validation>
                        <input asp-for="@Model.Page" type="hidden"/>
                        <div class="row filter-form justify-content-center">
                            
                            <div class="col-12 col-md-6 mb-4">
                                <div class="form-group">
                                    <input asp-for="Title" class="form-control">
                                    <span class="bar"></span>
                                    <label asp-for="Title"></label>
                                </div>
                            </div>


                            <div class="col-12 col-md-6 mb-4 mt-3 mt-md-0">
                                <div class="form-group">
                                    <select class="form-control form-select" asp-for="DeleteStatus"
                                            asp-items="@Html.GetEnumSelectList<DeleteStatus>()"></select>
                                    <span class="bar"></span>
                                    <label asp-for="DeleteStatus"></label>
                                </div>
                            </div>

                            <div class="col-12 mt-3 d-md-flex">
                                <div class="col-12 col-md-2 p-0 me-1">
                                    <button class="btn btn-rounded btn-outline-primary w-100" type="submit">جستجو
                                    </button>
                                </div>
                                @if (Model.HasFilters())
                                {
                                    <div class="col-12 col-md-2 p-0 mt-3 mt-md-0">
                                        <a class="btn btn-rounded btn-danger w-100 text-nowrap"
                                           asp-area="Admin"
                                           asp-controller="PartnerCompany"
                                           asp-action="List">حذف فیلتر ها
                                        </a>
                                    </div>
                                }
                            </div>

                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div class="mb-3 d-flex justify-content-between align-items-center">
                    <div>
                        <h2 class="card-title">@ViewData["Title"]</h2>
                    </div>
                    <div invoke-permission="@PermissionsName.CreatePartnerCompany">
                        <a class="btn btn-rounded btn-success"
                           asp-area="Admin"
                           asp-controller="PartnerCompany"
                           asp-action="Create">افزودن</a>
                    </div>
                </div>

                @if (Model.Entities is not null && Model.Entities.Any())
                {
                    <div class="table-responsive mb-4 border rounded-1">

                        <table class="table text-nowrap mb-0 align-middle">
                            
                            <thead class="text-dark fs-4">
                            <tr>
                                <th>
                                    <h6 class="fs-4 fw-semibold mb-0">عنوان سایت</h6>
                                </th>
                                <th>
                                    <h6 class="fs-4 fw-semibold mb-0">آدرس سایت</h6>
                                </th>
                                <th>
                                    <h6 class="fs-4 fw-semibold mb-0">عملیات</h6>
                                </th>
                            </tr>
                            </thead>

                            <tbody>
                            @foreach (var partner in Model.Entities)
                            {
                                <tr>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <img
                                                src="@FilePaths.PartnerCompanyOriginalImage@(!partner.ImageUrl.IsNullOrEmptyOrWhiteSpace() ? partner.ImageUrl : SiteTools.DefaultImageName)"
                                                class="rounded"
                                                width="50"
                                                height="50"
                                                alt="@partner.Title">
                                            <div class="ms-3">
                                                <h6 class="fs-4 fw-semibold mb-0">@(!partner.Title.IsNullOrEmptyOrWhiteSpace() ? $"{partner.Title}" : "ندارد")</h6>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="" style="max-width: 200px">
                                        <p class="mb-0 fw-normal fs-4 text-truncate"><a href="@partner.SiteUrl" target="_blank">@partner.SiteUrl.ToShow()</a></p>
                                    </td>
                                    <td>
                                        <a invoke-permission="@PermissionsName.UpdatePartnerCompany"
                                            asp-area="Admin"
                                           asp-controller="PartnerCompany"
                                           asp-action="Update"
                                           asp-route-id="@partner.Id"
                                           asp-route-page="@Model.Page"
                                           class="text-warning removeAfterDelete @(partner.IsDeleted ? "d-none" : "")"
                                           title="ویرایش">
                                            <iconify-icon icon="uil:edit" width="22" height="22"></iconify-icon>
                                        </a>
                                        @if (partner.IsDeleted)
                                        {
                                            <a invoke-permission="@PermissionsName.DeleteOrRecoverPartnerCompany" class="text-info" onclick="ConfirmRecover(this, '@Url.Action("DeleteOrRecover", "PartnerCompany", new { area = "Admin", id = partner.Id })')" 
                                               title="بازگردانی">
                                                <iconify-icon icon="solar:undo-left-round-outline" width="22" height="22"></iconify-icon>
                                            </a>
                                        }
                                        else
                                        {
                                            <a invoke-permission="@PermissionsName.DeleteOrRecoverPartnerCompany" class="text-danger" onclick="ConfirmDelete(this, '@Url.Action("DeleteOrRecover", "PartnerCompany", new { area = "Admin", id = partner.Id })')" 
                                               title="حذف">
                                                <iconify-icon icon="solar:trash-bin-trash-outline" width="22" height="22"></iconify-icon>
                                            </a>
                                        }
                                    </td>
                                </tr>
                            }
                            </tbody>
                            
                        </table>
                    </div>
                    <partial name="~/Areas/Admin/Views/Shared/_PagingPartial.cshtml" model="@Model.GetCurrentPaging()"/>
                }
                else
                {
                    <partial name="_NotFoundPartial"/>
                }
            </div>
        </div>
    </div>
</div>